body{
	background-color:  #f2f2f2;
	
}
form{
	margin:auto;
}
.content{
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	margin-top: 0px;
	width: 25em;
	background-color: #c0c0c0;
	text-align: left;
}
.sect{
	border-style: solid;
	border-left: 2px;
	border-right: 2px;
	border-color: #b3b3b3;
	border-width: 2px;
}
.boton{
	padding-top: 2em;
	margin: auto;
	text-align: center;
}
